*{
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: #17191c;
}

.main-page-wrapper {
  background: url("./img/hero.png") center top no-repeat, url("./img/bottom-pic.png") right bottom no-repeat;
}

.wraperr {
  height: 100%;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
}

.button {
  border: 2px solid transparent;
}

.container {
  width: 1140px;
  margin: auto;
}


.header {
  position: relative;
  min-height: 129px;
  margin-bottom: 100px;
}



.logo,.menu,.contacts {
  position: absolute;
}
.logo {
  display: inline;
  top: 20px;
  left: 0px;
}



.menu {
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
}  
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 52px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}



.contacts {
  font-style: normal;
  text-align: right;
  top: 28px;
  right: 0px;
}
.contacts__tel {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 0px;
}
.contacts__chart {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: #FF3D00;
}



.preview {
  position: relative;
  text-align: center;
  width: 776px;
  margin-bottom: 272px;
  margin-left: auto;
  margin-right: auto;
}
.preview__title {
  font-size: 72px;
  line-height: 98px;
  font-weight: bolder;
  margin: 0px;
  margin-bottom: 18px;
}
.preview-text {
  position: absolute;
  font-size: 18px;
  line-height: 20px;
  top: 18px;
}
.preview__button {
  display: inline-block;
  position: relative;
  top: 41px;
}
.button {
  color: #fff;
  background: #FF3D00;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 53px;
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;

  cursor: pointer;
  transition: all .3s;
}
.button:hover {
  color: #FF5500;
  background: #fff;
  border-color: #FF5500;
}



.opеions {
  margin-bottom: 174px;
}
.opеions__item {
  background: #fff;
  border-radius: 5px;
  border: 5px solid #CCCCCC;
  display: inline-block;
  margin-right: 20px;;
  width: 363px;
  min-height: 476px;
  vertical-align: top;
  padding: 30px 16px 36px;
  color: black;
}

.opеions__item:last-child {
  margin-right: 0;
}
.option__icon {
  min-height: 100px;
  margin-bottom: 8px;
  right: 22px;
}
.options__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 18px;
}
.options__block {
  display: inline-block;
  vertical-align: top;
  color: #666;
  margin-bottom: 26px;
}
.options__block-item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 125%;
  width: 123px;
  margin-right: 56px;
}
.options__block-item:last-child {
  margin-right: 0;
}
.options__text {
  color: #666;
  font-size: 15px;
  line-height: 22px;
}
.options__button {
  position: relative;
  display: inline-block;
  top: 27px;
  
}
.button-line {
  background: #fff;
  color: #FF3D00;
  border-color: #FF3D00;
}
.button-line:hover {
  color: #fff;
  background: #FF3D00;
}



.news__title {
  font-weight: 800;
  font-size: 41px;
  line-height: 49px;
  margin-bottom: 56px;
}
.news__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 22px;
  margin-bottom: 47px;
}
.news__item:last-child {
  margin-right: 0;
}
.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
}
.news__date-month {
  font-size: 14px;
  line-height: 21px;
}
.news__date-year {
  font-size: 14px;
  line-height: 21px;
}
.news__subtitle {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 6px;
  margin-top: 12px;
}
.news__text {
  font-size: 15px;
  line-height: 21px;;
}



.paginator {
  text-align: center;
  margin-bottom: 144px;
}
.paginator__display,.paginator__list,.paginator__item {
  display: inline-block;
}
.paginator__display {
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
}
.paginator__link {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px; 
  margin-right: 0px;

 background: transparent;
  border-radius: 50%;
  padding: 6px 14px;
}
.paginator__link:hover {
  background: #FF5500;
}
.paginator__item-active .paginator__link {
  background:  #FF5500;
}


.about {
  position: relative;
  margin-bottom: 44px;
  min-height: 563px;
}
.about__img {
  display: inline-block;
  vertical-align: top;
}
.about__content {
  display: inline-block;
  background: #fff;
  color: #17191c;
  border-radius: 5px;
  width: 784px;
  min-height: 455px;
  margin-left: -142px;
  margin-top: 96px;
  padding: 66px 80px 66px;
}
.about__title {
  font-weight: 800;
  font-size: 44px;
  line-height: 49px;
  margin-bottom: 42px;
  margin-top: 0;
}
.about__text {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 67px;
}
.button-2 {
  color: #fff;
  background: #FF3D00;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 44px;
  font-weight: bold;
}

.button-2 {
  border: solid transparent;
}


.footer {
  position: relative;
  min-height: 149px;
  border-top: 1px solid #2E3032;
}

.logo2,.menu2,.contacts2,.socials {
  position: absolute;
}
.logo2 {
  display: inline-block;
  left: 0;
  top: 40px;
}
.menu2 {
  top: 56px;
  left: 328px
}
.menu2__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 14px;
  line-height: 19px;
}
.menu2__item:last-child {
  margin-right: 0;
}

.socials {
  top: 49px;
  margin-left: 700px;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.socials__item:last-child {
  margin-right: 0;
}

.contacts2 {
  font-style: normal;
  text-align: right;
  top: 44px;
  right: 0px;
}
.contacts2__text {
  font-size: 11px;
  line-height: 20px;
  color:  #9A9A9A;
}

.contacts2__tel {
  position: relative;
  font-size: 26px;
  line-height: 20px;
  top: 4px;
}
